{% extends 'base.html.twig' %}

{% block title %}New LigneLivIntern{% endblock %}

{% block body %}
    <h1>Create new LigneLivIntern</h1>

    {{ include('ligne_liv_intern/_form.html.twig') }}

    <a href="{{ path('app_ligne_liv_intern_index') }}">back to list</a>
{% endblock %}
