<form method="post" action="{{ path('app_fonctionnaire_delete', {'idFonct': fonctionnaire.idFonct}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fonctionnaire.idFonct) }}">
    <button class="btn">Delete</button>
</form>
