<form method="post" action="{{ path('app_comite_delete', {'idComit': comite.idComit}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comite.idComit) }}">
    <button class="btn">Delete</button>
</form>
