{% extends 'base.html.twig' %}

{% block title %}Comite index{% endblock %}

{% block body %}
    <h1>Comite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdComit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comite in comites %}
            <tr>
                <td>{{ comite.idComit }}</td>
                <td>
                    <a href="{{ path('app_comite_show', {'idComit': comite.idComit}) }}">show</a>
                    <a href="{{ path('app_comite_edit', {'idComit': comite.idComit}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comite_new') }}">Create new</a>
{% endblock %}
