{% extends 'base.html.twig' %}

{% block title %}Edit LigneLivExtern{% endblock %}

{% block body %}
    <h1>Edit LigneLivExtern</h1>

    {{ include('ligne_liv_extern/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ligne_liv_extern_index') }}">back to list</a>

    {{ include('ligne_liv_extern/_delete_form.html.twig') }}
{% endblock %}
